body {
  margin: 0;
  padding: 0;
  background-color: #48c9d0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.container-ex {
  margin: 0 auto;
  width: 700px;
}

.graph-container {
  height: 500px;
}
