@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1,
h3 {
  font-weight: 700;
  color: #48c9d0;
  letter-spacing: 1.5px;
  text-shadow: 1px 2px 8px grey;
}

h2 {
  font-weight: 700;
  color: #48c9d0;
  letter-spacing: 1.5px;
  padding: 0 0 30px 0;
}

.header-container {
  background-color: #48c9d0;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  box-shadow: 0 5px 6px -6px #222222;
}

.header {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sub-header {
  color: #ffffff;
  margin-top: 10px;
}

.container-ex {
  margin: 0 auto;
  width: 700px;
}

.graph-container {
  height: 500px;
}
